<div class="info">
<% if user && user.authority == User::SUPER_USER -%>
[<%= link_to('トップへ戻る', :controller => 'admin', :action => 'index') %>]
<% end -%>
</div>
<div class="logo">島根県ホームページ管理システム（CMS）　オンラインヘルプ</div>
<div class="tool" style="margin-top: -15px;">
&nbsp;
</div>
