<div class="info">
ユーザ : <%= h(@user.name) %>（<%= h(@user.section.name) %>）<br />
[<%= link_to('トップへ戻る', :controller => 'admin', :action => 'index') %>]<% if @user.authority == User::SUPER_USER -%>[<%= link_to('各種設定', :controller => 'admin', :action => 'config') %>]<% end -%>[<%= link_to('ログアウト', :controller => 'admin', :action => 'logout') %>]
</div>
<div class="logo">島根県ホームページ管理システム（CMS）</div>
<div class="tool">
&nbsp;
</div>
