<%= render(:partial => 'menu') %>
<div class="container">
<h2>フォルダの追加</h2>
<div class="side">
<div class="dir">
<%= render(:partial => 'genre_list') %>
</div>
</div>
<div class="main">
<div id="div-right">
<%= render(:partial => 'genre_info') %>
</div>

</div>
