/* import ud_menu style */
@import url("ud.css");
/* 基本設定スタイルシート（ディレクトリ表示） */
body {
  margin: 15px;
  padding: 0;
}
a:link, a:visited, a:hover, a:active {
  font-size: 100%;
}
img {
  border-width: 0;
}
p#banner {
  margin: 23px 3px 17px;
  text-indent: 0;
}
span#hide {
  display: none;
}
address {
  margin: 10px 0;
  font-style: normal;
}
p#w3c {
  float: right
}
p#copyright {
  text-indent: 0;
  font-size: 0.9em;
  margin: 16px 3px 5px;
  padding: 0;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
}
#main {
  clear: both;
  float: right;
  padding: 0.5em 0;
  margin: 0;
  width: 78%;
}

/* for sections page */
#main.sections {
  width: 100%;
  margin-left: -225px;
}

#main.sections * {
  margin-left: 235px;
}

#main.sections * * {
  margin-left: 0px;
}

/* for section top page */
#section_main {
  float: left;
  width: 100%;
  margin-right: -10em;
  padding: 0;
}

#section_main .section_content {
  margin-right: 11em;
}

/* end of section top */

/* main genre style */
.main-genre-header {
  float: left;
  padding-bottom: 4px;
}

.main-genre-header h1 {
  float: left;
  border: none;
  font-size: 2em;
  margin: 5px 10px 0;
}

.main-genre-header p.explanation {
  float: left;
  font-size: 80%;
  width: 200px;
  margin: 13px 20px 0 0;
}

.main-genre-header p.shortcut {
  float: left;
  font-style: bold;
  margin: 1.8em 0 0;
}

/* end of main genre style */

h1 {
  margin: 10px 0 25px;
  padding: 8px 5px 5px 15px;
  border-style: solid;
  border-width: 1px 1px 1px 5px;
  font-size: 1.5em;
}
h2 {
  margin: 10px 0 15px;
  border-style: solid;
  border-width: 1px 1px 1px 3px;
  font-size: 1.3em;
  padding: 4px 3px 1px 17px;
}
h3 {
  margin: 10px 0 0;
  font-size: 1.1em;
  border-left: solid 3px;
  border-bottom: 1px solid;
  padding: 2px 3px 0px 17px;
}
h4 {
  margin: 10px 0 0 0;
  font-size: 1.1em;
  border-left: solid 5px;
  padding: 3px 3px 1px 17px;
}
h5 {
  margin: 10px 0 0 3px;
  font-size: 1em;
}
p {
  margin: 0;
  line-height: 130%;
}
blockquote {
  margin: 0 0 0 2em;
}
table {
  font-size: 100%;
}
dl {
  margin: 13px 0 5px;
}
dt {
  margin: 10px 0 0 6px;
}
dd {
  margin: 7px 0 0 40px;
}
ul {
  margin: 5px 0 2px 0;
}
ol {
  margin: 5px 0 2px 20px;
}
li {
  margin: 5px 0 0 27px;
}
p#date {
  margin: 10px 0 0;
  text-align: right
}
p#sect {
  margin: 8px 0 0;
  text-align: right;
}

/* 情報検索フォームスタイルシート */
form {
  margin: 0;
  padding: 0;
}
span#seek {
  display : inline;
  margin: 0 2px 0 38px;
  vertical-align: 2px;
}
input {
  margin: 0 0 0 5px;
}

/* 印刷用スタイルシート */
@media print {
    body {
    margin: 0px;
    padding: 0px;
    color: #000000;
    background-color: #ffffff;
  }
}

/* round_coner */
.round_corner {
  margin: 8px auto;
  width: 99%;
  padding: 0;
  text-align: left;
  border-width: 2px;
}

.round_corner h1,
.round_corner h2,
.round_corner h3,
.round_corner h4 {
  border: none;
  margin: 0.3em 0.5em 0.5em;
}
.round_corner h1 {
  font-size: 2em;
  margin-bottom: 3px;
}
.round_corner h2 {
  font-size: 1.6em;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}


/* 
 * Autogenerated gnere top page style.
 */

#genre_news {
  float: left;
  width: 58%;
  padding-right: 1%;
}

#sub_genre_list {
  float: left;
  width: 40%;
}

/* 
 * genre list style used in 
 * top genre's grend children genre page.
 */
ul.genre_down_list,
ul.left_genre_list,
ul.right_genre_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.genre_down_list li h3,
ul.right_genre_list li h3,
ul.left_genre_list li h3 {
  margin: 0;
  padding: 0 0 0 24px;
  background: transparent url("../images/misc/bullet.gif") no-repeat left 45%;
}

ul.genre_down_list li.sub_genre {
  margin: 0px;
  padding: 10px 10px 0 20px;
}

ul.left_genre_list,
ul.right_genre_list {
  float: left;
  width: 48%;
  margin: 0;
  padding: 5px;
}

ul.left_genre_list ul,
ul.right_genre_list ul {
  margin: 0;
  padding: 5px 0 0 24px;
  list-style-type: none;
}

ul.left_genre_list li.sub_genre {
  margin: 10px 0pt 0pt 25px;
}
ul.right_genre_list li.sub_genre {
  margin: 10px 0pt 0pt 10px;
}

ul.left_genre_list li.grand_child,
ul.right_genre_list li.grand_child {
  display: inline;
  margin: 0;
  padding: 3px 12px 0 0;
}

ul.genre_down_list a:link,
ul.left_genre_list a:link,
ul.right_genre_list a:link {
  text-decoration: none;
}
ul.genre_down_list a:visited,
ul.left_genre_list a:visited,
ul.right_genre_list a:visited {
  text-decoration: none;
}
ul.genre_down_list a:hover,
ul.left_genre_list a:hover,
ul.right_genre_list a:hover {
  text-decoration: underline;
}
ul.genre_down_list a:active,
ul.left_genre_list a:active,
ul.right_genre_list a:active {
  text-decoration: underline;
}

/*
 * genre list for autogenerated genre top pages.
 */
ul.sub-genre-list {
  list-style: none;
  margin: 0 0 10px 20px;
  padding: 0;
}

ul.sub-genre-list li {
  margin-left: 20px;
  list-style-type: none;
  list-style-image: url("../images/folder.png");
}

/* ジャンル・ページ一覧表示スタイルシート */
ul.genre_list {
  list-style-type: none;
  margin: 0;
}

ul.genre_list {
  padding: 0;
}

ul.page_list {
  list-style-type: none;
}

#header_police {
  color: black;
  background-color: white;
  background-image: url(../images/bg_title_police.jpg);
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* ロゴ */
div.logo {
  float: left;
  margin: 0;
  padding: 0;
}

/* header,footer-menu */
hr.sep {
  visibility: hidden;
  clear: both;
  height: 0;
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

table td, table th {
  border: solid 1px black;
  padding: 0.2em;
}

/*
 * Not sure what this is for
 * Commented out because it
 * interfer with headding style
 * setting by the tinymce.
h3.subject {
  margin-left: 17px;
  margin-bottom: 5px;
  padding-left: 0;
  border: none;
  border-bottom: solid 1px;
}
*/

/*
 * Sections list side menu
 */ 

/* For section top subject
 * These specific instruction should come 
 * before #subject general directive
 * because IE don't overwrite instruction.
 */

#subject.sections {
  float: left;
  margin: -10px 5px 0 0;
  padding: 0;
  width: 215px;
}

#section-subject {
  float: right;
  width: 10em;
  margin: 9px 0 0 0;
} 

#subject {
  float: left;
  margin: 10px 10px 10px 0;
  width: 20%;
}

#subject h2,
#section-subject h2 {
  padding: 8px 0 7px 10px;
  margin: 0px;
  font-size: 1em;
}

#subject ul,
#section-subject ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
}

#subject li,
#section-subject li {
  margin: 0;
  padding: 0.3em 0px 0.3em 1em;
  text-indent: 0;
}

#content {
  position: relative;
}

#section-subject .section-content h2 {
  font-size: 1em;
  margin: 0;
  padding: 0.3em 0 0.3em 10px;
} 

.pr li {
  float: left;
  width: 15em;
}

div#note {
  float: left;
  width: 85%;
  margin: 0.5em 0 0 0;
}

div#note ul {
  padding: 0;
}

div#note li {
  list-style-type: none;
  margin: 0.2em 0 0.2em 0em;
  padding: 0;
}

div#qr_code {
  float: left;
  margin: 10px 10px 0 10px;
  padding: 0;
}
div.link {
  margin-top: 4px;
}
div.topic {
  clear: both;
  padding: 5px 0;
  padding: 5px 0;
}
div.topic_section {
  float: right;
  text-align: right;
  width: 15em;
}
div.topic_section a {
  text-decoration: none;
}

.pagination_menu {
  text-align: right;
}

/* Rast 検索結果スタイルシート */

.infobar {
    clear: both;
    padding: 0.2em;
}
#result {
    text-align: right;
}
.search-form {
    margin-top: 20px;
    margin-left: 30px;
}

/* 掲示板スタイルシート */

dl.board {
    margin: 1em;
}
dl.board dt {
    background-image: url(../images/comment.png);
    background-repeat: no-repeat;
    padding-left: 20px;
}
dl.board dd {
    border-style: solid;
    border-width: 1px;
    margin-left: 2em;
    margin-bottom: 1.5em;
}
dl.board p {
    margin: 0.8em;
    line-height: 100%;
}
.board_post {
    margin: 1em;
    background-image: url(../images/comment_add.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.board_date {
    font-size: small;
}
.board_frame {
    padding: 1em;
    border: 1px solid;
}
.board_error {
    border: 2px solid;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
}
.board_error li {
    list-style: square;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
table.table_center {
  margin-left: auto;
  margin-right: auto;
}
div.table_div_center {
  text-align: center;
}
div.table_div_right {
  float: right;
}
div.table_div_left {
  float: left;
}
img.left, table.left {
  float: left;
}
img.right, table.right {
  float: right;
}

/* サイトマップ */
div.sitemap_layout {
  width: 100%;
  margin-top: 5px;
  float: left;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #cccccc;
}
div.sitemap_layout div.sitemap1 {
  float: left;
  width: 32%;
  margin-bottom: 5px;
}
div.sitemap_layout div.sitemap2 {
  float: left;
  width: 32%;
  margin-bottom: 5px;
}
div.sitemap_layout div.sitemap3 {
  float: left;
  width: 32%;
  margin-bottom: 5px;
}

/* user class */

p.clr-both-p {
	color: #FFCC99;
	background-color: white;
	clear: both;
}

p.clr-both-s {
	color: #FFCC99;
	background-color: white;
	background-image: url(/index.data/clrline_s.png);
	background-repeat: no-repeat;
	text-indent: 50px;
	clear: both;
}

p.clr-both-l{
	color: #FFCC99;
	background-color: white;
	background-image: url(/index.data/clrline_l.png);
	background-repeat: repeat-x;
	clear: both;
}

ul.section-news,
ul.genre-news {
  list-style: none;
  padding: 0 0 1em 1.5em;
}

ul.section-news li,
ul.genre-news li {
  margin-left: 0px;
}

/* section list */
#main h2.section_name {
  line-height: 1.5em;
  border: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 30px;
  background: url("../images/misc/bullet.gif") no-repeat left 45%;
}

#main ul.section_list {
  list-style: none;
  padding-left: 30px;
}

ul.section_list li {
  float: left;
  width: 10em;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 40px;
  background: transparent url("../images/subject_item.png") no-repeat left top;
}

/* 
 * new header
 */
#banner {
  height: 90px;
}
#header {
  position: relative;
  left: 0;
  margin: 0 auto;
  padding: 0;
  color: #000;
  background-color: transparent;
  text-align: left;
}

#banner {
  float: right;
  width: 210px;
  margin: 0;
  padding: 0;
  text-align: right;
  color: #000;
  background-color: transparent;
}

#banner div.ad {
  padding-bottom: 2px;
}

div#to_top_image {
  float: left;
  top: 0;
  left: 0;
  margin: 0 5px 0 -1px;
  padding: 0;
  width: 87px;
}

div#normal_panel {
  float: left;
  top: 0;
  right: 0;
  padding: 0;
  width: 128px;
  height: 90px;
}

#normal_panel ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#normal_panel li {
  float: left;
  margin: 0;
  width: 40px;
  height: 28px;
  padding: 0;
}

#normal_panel img {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

div#head_navi {
  float: left;
  margin: 38px 0 0;
}

#navi_contents {
  position: relative;
}

/* mail */
#mail {
  float: left;
  width: 11em;
  padding-top: 4px;
}

#search {
  float: left;
  padding-left: 3px;
}

#mail p {
  margin: 1px 3px 0 0;
  line-height: 1.3em;
  text-align: center;
  background: url("/images/misc/gradation_s.gif") repeat-x left top;
}

#mail_to_admin,
#sitemap {
  color: #fff;
  text-decoration: none;
}

#mail_to_admin:hover,
#sitemap:hover {
  color: #fff;
  text-decoration: underline;
}

#search ul,
#search form {
  padding: 0;
  margin: 1px;
  line-height: 1.3em;
}

#search ul {
  margin: 0 0 0 5px;
  padding: 0;
}

#search li {
  margin: 0;
  padding: 0;
  display: inline;
}

/* gradation link style */
a.gradation {
  padding: 2px 20px 0;
  text-decoration: none;
}

a.gradation:link {
  color: #fff;
  background: url("/images/misc/gradation_s.gif") repeat-x left top;
}
a.gradation:visited {
  color: #ffd;
  background: url("/images/misc/gradation_s.gif") repeat-x left top;
}
a.gradation:hover {
  color: #ffd;
  background: url("/images/misc/gradation_s.gif") repeat-x left top;
  text-decoration: underline;
}
a.gradation:active {
  color: #ffe;
  background: url("/images/misc/gradation_s.gif") repeat-x left top;
  text-decoration: underline;
}

/* form */
#search form {
  display: inline;
  margin: 0;
}
#search #keyword {
  margin: 0;
  width: 7.5em;
  font-size: 1em;
  color: #003;
  background-color: #fff;
}
#search #submit {
  margin: 0;
  width: 7em;
  font-size: 0.9em;
  padding: 1px 0 0;
}
/* end of header */

/* footer */
div#footer {
  border-top: medium solid #0049a0;
  position: relative;
  top: 3px;
  left: 0;
  margin: 0;
  padding: 0;
  color: #000;
/*  width: 97%; */
  text-align: left;
  min-height: 4em;
  z-index: 1;
}

div#footer a {
  margin: 0 0.2em;
}

div#contact {
  position: relative;
  top: 0;
  left: 0;
  margin: 0 360px 0 0;
  padding: 0;
  min-height: 4em;
}
div#about {
  position: absolute;
  top: 0;
  right: 0;
  width: 355px;
  margin: 0;
  padding: 0;
}
#about p {
  margin-top: 0.5em;
  font-size: 0.9em;
}

#footer,
#contact {
  height: 4em;
}

/* end of footer */

/* skip anchor */

p.anchor_link {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

p.skip_anchor {
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
}

/* end of skip anchor */

/* top news style */
div.page_header {
  position: relative;
  padding-top: 0.5em;
  border-bottom: 2px solid;
  margin-bottom: 8px;
}

div.page_header h1 {
  display: inline;
  border: none;
  margin: 0.5em 0.5em 0.5em;
  padding-bottom: 0;
  font-size: 2em;
}

/* section page header style */
div.section_header {
  position: relative;
  margin-left: 220px;
  border-bottom: 2px solid;
  margin-bottom: 8px;
}

div.section_header h1 {
  display: inline;
  border: none;
  margin: 0.5em 0 0.5em;
  padding-bottom: 0;
  font-size: 2em;
}

p.header_explanation {
  position: absolute;
  right: 0;
  top: 20px;
}

p.header_explanation img {
  position: relative;
  margin: 0;
  padding: 0;
  top: -8px;
}

div.top_news_navi {
  padding: 10px 0 0 1.5em;
  line-height: 1.8em;
}
div.top_news_navi  a {
  padding: 0.5em 0.5em 0.3em;
  text-decoration: none;
}
ul.top_news {
  list-style: none;
  margin: 0;
  padding: 0 1.8em 1em;
}
ul.top_news li {
  margin-left: 0;
  padding-left: 20px;
  background: transparent url("../images/news_item.png") no-repeat left 45%;
}
/* end top news style */

/* pen news style */
.news li {
  margin-left: 2em;
  list-style-type: none;
  list-style-image: url("../images/news_item.png");
}
/* end pen news style */

/* grand children genre page */
#genre-left {
  float: left;
  width: 73%;
}

#genre-left ul {
  float: left;
  width: 98%;
  margin: 0;
  padding: 0 0 5px;
  list-style: none;
}

/* 
 * Double margin error occur on IE,
 * hence padding-right
 */
#genre-left li {
  float: left;
  width: 46%;
  padding: 0 0 0 24px;
  margin: 3px 0 0 0;
}

#genre-left h2 {
  clear: left;
}

#genre-right  {
  float: right;
  width: 25%;
}

/* end grand children genre page */

