/*
 * Theme specific stylesheet.
 * Color Table
 *  blue  #0049a0;
 *  dark-green #165829;
 *  lihgt-green #309e2d;
 */

/* border for round_corner */
div.round_corner {
  border-color: #0049a0;
}

div.round_corner h2 {
  border-color: #0049a0;
}

/* border between content and footer */
div#footer {
  border-top: medium solid #0049a0;
}

/* h1 border for section.html */
div.section_header {
  border-color: #0049a0;
}

/* h1 border for news.html */
div.page_header {
  border-color: #0049a0;
}

/* Section list color for section.html */
#subject h2,
#section-subject h2 {
  background-color: #0049a0;
}

#subject h2 a:hover,
#subject h2 a:active,
#section-subject h2 a:hover,
#section-subject h2 a:active {
  color: #0049a0;
  background-color: #fff;
}

#subject ul,
#section-subject ul {
  border-left: 1px solid #b3d5ff;
  border-right: 1px solid #b3d5ff;
  border-bottom: 1px solid #b3d5ff;
}

/* h2 border for major and minor genre top page */
.round_corner h2 {
  border-bottom-color: #0049a0;
}

/* backgound color for links in the footer */
div#search_nav a:active, div#search_nav a:hover,
div#footer a:active, div#footer a:hover {
  background-color: #0049a0;
}

/* default background color for links
 * These might be overridden by background-image */
a.gradation:link,
a.gradation:visited,
a.gradation:hover,
a.gradation:active {
  background-color: #0049a0;
}

#mail p {
  background-color: #0049a0;
} 

#gallery div {
  background-color: #0049a0;
}
