<%= error_messages_for 'word' %>
<!--[form:word]-->
<div><label for="word_base">単語（全角文字）</label>：<br />
<%= text_field 'word', 'base' %></div>

<div><label for="word_text">読み（全角ひらがな）</label>：<br />
<%= text_field 'word', 'text' %></div>
<!--[eoform:word]-->
